<html>
    <head>
        <title>Category</title>
        <link href="/admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">
            <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    
        <!-- Custom styles for this template-->
        <link href="/admin/css/sb-admin-2.min.css" rel="stylesheet">

            <style>
                .half{
                
                    padding: 3em;
                    margin-left: 5em;
                    margin-top: 9em;
                    /* margin-right: 0em; */
                    font-family: fangso;
                
                    width: fit-content;
                    background-color: rgb(110, 207, 162);
                    border-radius: 12px;                             
                }

                .man{
                    height: 19em;
                }
            </style>

    </head>
    <body>
        <%- include('partials/navbar.ejs') %>


        <!-- main body code -->
        <h1 align="center" style="font-weight: bold;">ADD CATEGORORY</h1>

      
        <div class="row">
            
            <div class="col-md-5 half man">
                <h2 style="font-weight: bold;">
                    <% if(typeof(updatecategory) != 'undefined') { %>
                        UPDATE CATEGORY
                        <% } else { %>
                            ADD NEW CATEGORY
                        <% } %> 
                </h2><br>
                <form action="
                <% if(typeof(updatecategory) != 'undefined') { %>
                    /admin/updatecategory/<%= updatecategory._id %>
                    <% } else { %>
                        /admin/category
                    <% } %> 
                " method="post">
                
                <% if(typeof(updatecategory) != 'undefined') { %>
                    <input value="<%= updatecategory.categoryname %>" class="form-control" type="text" name="category" required><br><br>
                    <% } else { %>
                        <input value="" class="form-control" type="text" name="category" placeholder="add category" required><br><br>
                        <% } %> 


                <% if(typeof(updatecategory) != 'undefined') { %>

                    <input class="btn btn-primary" type="submit" value="Update category">
                    <% } else { %>
                        <input class="btn btn-primary" type="submit" value="Add category">
                    <% } %> 

            </div>
            

          
       
    </form>
        <div class="col-md-5 half">
            <h2 style="font-weight: bold;">VIEW CATEGORIES</h2><br>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        
    
                        <tbody>
                            <% if(typeof(category)!='undefined'){ %>
                                <% category.forEach(function(category,id){%>
                                    <tr>
                                        <td><%= id+1 %></td>
                                        <td><%= category.categoryname %></td>
                                        <td align="center"><a href="/admin/updatecategory/<%=category._id%>" style="background-color: blue;color: white;" class="btn btn-circle btn-sm"><i class="fas fa-edit"></i></i></a></td>
                                        <td align="center"><a href="/admin/deletecategory/<%=category._id%>" style="background-color: red;color: white;" class="btn btn-circle btn-sm"><i class="fas fa-trash"></i></a></td>
                                    </tr>

                                <%})} %>
                            
                               
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
            

        </div>
    </div>



    <footer class="sticky-footer bg-white ">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright &copy;IT Park 2020</span>
            </div>
        </div>
    </footer>




        <!-- main body code end -->


                  <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/chart-area-demo.js"></script>
    <script src="js/demo/chart-pie-demo.js"></script>
    </body>
    </body>
</html>