<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Product details</title>
    <link rel="icon" type="image/png" href="/customer/images/favicon.png">
	<!-- Web Font -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
	
	<!-- StyleSheet -->
	
	<!-- Bootstrap -->
	<link rel="stylesheet" href="/customer/css/bootstrap.css">
	<!-- Magnific Popup -->
    <link rel="stylesheet" href="/customer/css/magnific-popup.min.css">
	<!-- Font Awesome -->
    <link rel="stylesheet" href="/customer/css/font-awesome.css">
	<!-- Fancybox -->
	<link rel="stylesheet" href="/customer/css/jquery.fancybox.min.css">
	<!-- Themify Icons -->
    <link rel="stylesheet" href="/customer/css/themify-icons.css">
	<!-- Nice Select CSS -->
    <link rel="stylesheet" href="/customer/css/niceselect.css">
	<!-- Animate CSS -->
    <link rel="stylesheet" href="/customer/css/animate.css">
	<!-- Flex Slider CSS -->
    <link rel="stylesheet" href="/customer/css/flex-slider.min.css">
	<!-- Owl Carousel -->
    <link rel="stylesheet" href="/customer/css/owl-carousel.css">
	<!-- Slicknav -->
    <link rel="stylesheet" href="/customer/css/slicknav.min.css">
	
	<!-- Eshop StyleSheet -->
	<link rel="stylesheet" href="/customer/css/reset.css">
	<link rel="stylesheet" href="/customer/css/style.css">
    <link rel="stylesheet" href="/customer/css/responsive.css">
</head>

<body>
    <%- include('partials/navbar.ejs') %>
    <div class="center">
        <% if(typeof(product) !='undefined' ) { %>
            <div class="card mb-3" style="max-width: 100%; height: 90%;">
                <div class="row g-0">
                    <div class="col-md-4 mt-5">
                        <img src="/uploads/<%=product.image%>" alt="image" style="object-fit: contain; width: 100%;">
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h1 class="card-title mt-5 fw-bold">
                                <%= product.productname %>
                            </h1>

                            <h2>
                                &#8377; <%=product.price %>
                            </h2>
                            <h5>
                                <%=product.description%>
                            </h5>
                            <br>
                            <h5>
                                Warrenty: <%=product.warrenty%>
                            </h5>
                            <br>
                            <h5>
                                Color: <%=product.color%>
                            </h5>
                            <br>
                            <% if(product.quantity==0 ) { %>
                                <h5 class="error">Out of Stock</h5>
                                <% } else { %>
                                    <form action="/customer/addtocart/<%=product._id%>" method="POST" class=" col-md-3">
                                        <label for="quantity">Quantity</label>
                                        <input type="number" name="quantity" id="quanity" class="form-control"
                                            max="<%= product.quantity %>" min="1" value="1">
                                        <br>
                                        <input type="submit" value="Add to cart" class="btn btn-primary">
                                    </form>
                                    <% } %>
                        </div>
                    </div>
                </div>
            </div>
            <%}%>
    </div>

    <br><br>
        <footer class="footer">
            <!-- Footer Top -->
            <div class="footer-top section">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-md-6 col-12">
                            <!-- Single Widget -->
                            <div class="single-footer about">
                                <div class="logo">
                                    <a href="/customer/dashboard"><img src="/customer/images/logo2.png" alt="#"></a>
                                </div>
                                <p class="text">Check out the unique collection of Laptops, Desktops, and Computer Accessories on IT Park Digital Shop. From sleek, travel-friendly laptops to sturdy business laptops with superior performance, IT Park is the one-stop destination for all your needs.</p>
                                <p class="call">Got Question? Call us 24/7<span><a href="tel:6161131110">6161131110</a></span></p>
                            </div>
                            <!-- End Single Widget -->
                        </div>
                        <div class="col-lg-2 col-md-6 col-12">
                            <!-- Single Widget -->
                            <div class="single-footer links">
                                <h4>Information</h4>
                                <ul>
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Faq</a></li>
                                    <li><a href="#">Terms & Conditions</a></li>
                                    <li><a href="/customer/contact">Contact Us</a></li>
                                    <li><a href="#">Help</a></li>
                                </ul>
                            </div>
                            <!-- End Single Widget -->
                        </div>
                        <div class="col-lg-2 col-md-6 col-12">
                            <!-- Single Widget -->
                            <div class="single-footer links">
                                <h4>Customer Service</h4>
                                <ul>
                                    <li><a href="#">Payment Methods</a></li>
                                    <li><a href="#">Money-back</a></li>
                                    <li><a href="#">Returns</a></li>
                                    <li><a href="#">Shipping</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                </ul>
                            </div>
                            <!-- End Single Widget -->
                        </div>
                        <div class="col-lg-3 col-md-6 col-12">
                            <!-- Single Widget -->
                            <div class="single-footer social">
                                <h4>Get In Tuch</h4>
                                <!-- Single Widget -->
                                <div class="contact">
                                    <ul>
                                        <li>IT Park</li>
                                        <li>Thruvalla</li>
                                        <li>PATHANAMTHITTA</li>
                                        <li>+9456823685</li>
                                    </ul>
                                </div>
                                <!-- End Single Widget -->
                                <ul>
                                    <li><a href="https://www.facebook.com/"><i class="ti-facebook"></i></a></li>
                                    <li><a href="#"><i class="ti-twitter"></i></a></li>
                                    <li><a href="#"><i class="ti-flickr"></i></a></li>
                                    <li><a href="#"><i class="ti-instagram"></i></a></li>
                                </ul>
                            </div>
                            <!-- End Single Widget -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Footer Top -->
            <div class="copyright">
                <div class="container">
                    <div class="inner">
                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <div class="left">
                                    <p>Copyright © 2021 <a href="http://www.wpthemesgrid.com" target="_blank">IT PARk</a>  -  All Rights Reserved.</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="right">
                                    <img src="/customer/images/payments.png" alt="#">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>





    <!-- Jquery -->
    <script src="/customer/js/jquery.min.js"></script>
    <script src="/customer/js/jquery-migrate-3.0.0.js"></script>
	<script src="/customer/js/jquery-ui.min.js"></script>
	<!-- Popper JS -->
	<script src="/customer/js/popper.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="/customer/js/bootstrap.min.js"></script>
	<!-- Color JS -->
	<script src="/customer/js/colors.js"></script>
	<!-- Slicknav JS -->
	<script src="/customer/js/slicknav.min.js"></script>
	<!-- Owl Carousel JS -->
	<script src="/customer/js/owl-carousel.js"></script>
	<!-- Magnific Popup JS -->
	<script src="/customer/js/magnific-popup.js"></script>
	<!-- Waypoints JS -->
	<script src="/customer/js/waypoints.min.js"></script>
	<!-- Countdown JS -->
	<script src="/customer/js/finalcountdown.min.js"></script>
	<!-- Nice Select JS -->
	<script src="/customer/js/nicesellect.js"></script>
	<!-- Flex Slider JS -->
	<script src="/customer/js/flex-slider.js"></script>
	<!-- ScrollUp JS -->
	<script src="/customer/js/scrollup.js"></script>
	<!-- Onepage Nav JS -->
	<script src="/customer/js/onepage-nav.min.js"></script>
	<!-- Easing JS -->
	<script src="/customer/js/easing.js"></script>
	<!-- Active JS -->
	<script src="/customer/js/active.js"></script>
</body>

</html>